<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Welcome to Sample App, <%= @user.username %>!</h1>
    <p>You have just sign up on this app.</p>
    <%= link_to "ABC", root_url %>
  </body>
</html>